h1 {color: darkcyan;
    text-align:center;

}

h3 {
    text-align: center;
}

a {
    background-color: white;
    box-shadow: 0 2px 0 white;
    text-align: center;
}

a:hover {
    cursor: pointer;
    background-color:gray;
}